.container-mains{
/*position: absolute;
    margin-top: 7%; 
    /* background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4 )), 
    url('../components/black.jpg'); */
    background-color: black;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width:auto;
    color: whitesmoke;
    padding-left: 60px;
  
  }

  .text{
    color: whitesmoke;
    margin-top: 4%;
}
.Heading{
  color: whitesmoke;
  text-align: left;
  padding-top: 50px;
}
.content{
  padding: 3%;
  padding-top: 10%;
}
.button{
  display:flex;
  align-items: center;
  justify-content: center;
}

/* styling for button */
.btn-primary {
  color: whitesmoke;
  background-color: rgb(36, 128, 159);
  border-color:rgb(36, 128, 159);
}
.btn-primary:hover {
  color: whitesmoke;
  background-color: rgb(28, 106, 131);
  border-color: rgb(28, 106, 131);
}

.form-control {
  background-color: transparent; /* Set transparent background */
}

.form-select {
  /* Existing styles */
  background-color: transparent; /* Add transparency */
 /* Set a subtle border for visibility */
  color: whitesmoke; /* Set text color for readability */
}



